<section hidden id="comments-section" aria-labelledby="comments-section-heading">
    <h2 id="comments-section-heading" class="semibold font-size-3">Comments</h2>
    <div id="comments-region" class="mt-1/2"></div>
    <template>
      <form data-netlify="true" name="comment" method="POST" action="{{ url }}">
        <label for="comment_author">Name:</label>
        <input type="text" name="name" id="comment_author">
        <input type="hidden" name="content_type" value="plain">
        <input type="hidden" name="page_url" value="{{ url }}">
        <label for="comment_content">Comment:</label>
        <textarea id="comment_content" name="content"></textarea>
        <button type="submit">Submit</button>
      </form>
    </template>
</section>
