<article class="serif{{ if mode == "grid" }} dl-grid{{ /if }}">
     <p class="mb-1/4 sans-serif colour-lighter light">{{ partial:date :date="date" }}</p>
       <div class="space-y-1/4">
       {{ unless (display_options | raw | in_array:hide_title) }}
       <h3 class="semibold font-size-3 mt-0"
          ><a href="{{ url }}"
            >{{ if collection:handle == "books" }}<cite
              >{{ title }}</cite
            > by {{ author }}{{ else }}{{ title }}{{ /if }}</a
          ></h3
        >
       {{ /unless }}
       {{ partial:summary-content }}
       </div>
   </article>
