<article class="serif{{ if mode == "grid" }} dl-grid{{ /if }}">
     <p class="sans-serif colour-lighter light">{{ partial:date :date="date" }}</p>
       <div>
       {{ unless (display_options | raw | in_array:hide_title) }}
       <h3 class="semibold mt-0 font-size-1"
          ><a href="{{ url }}"
            >{{ if author }}<cite
              >{{ title }}</cite
            > by {{ author }}{{ else }}{{ title }}{{ /if }}</a
          ></h3
        >
       {{ /unless }}
       {{ partial:summary-content }}
       </div>
   </article>
