          <details class="dropdown mb-1/4">
            <summary>Settings</summary>
            <div class="dropdown-inner right-1/2">
              <p>
                <label for="colour-scheme">Colour scheme:</label>
                <select required id="colour-scheme">
                  <option value="auto" selected>System setting</option>
                  <option value="light">Light</option>
                  <option value="dark">Dark</option>
                </select>
              </p>
              <p>
                <input type="checkbox" value="fancy" id="fonts">
                <label for="fonts">Fancy fonts</label>
              </p>
            </div>
          </details>
