<form
  class="mb-1/2 grid row-gap-1/4 col-gap-1/2 align-center sans-serif"
  style="
    grid-template-columns: fit-content(14rem) max-content;
    justify-items: start;
  ">
                <label for="colour-scheme">Colour scheme:</label>
                <select required id="colour-scheme">
                  <option value="auto" selected>System setting</option>
                  <option value="light">Light</option>
                  <option value="dark">Dark</option>
                </select>
                <label for="fonts">Fonts:</label>
                <select id="fonts" required>
                  <option value="fancy">Fancy</option>
                  <option value="default" selected>Regular</option>
                </select>
  </form>
