<script>
  document.addEventListener('DOMContentLoaded', function() {
    const navControl = document.querySelector('.dropdown-nav-control');
    navControl.addEventListener('click', (event) => {
      let dropdown = event.target.closest('.dropdown-nav');
      dropdown.classList.toggle("open");
    });
    navControl.addEventListener('keydown', (event) => {
      if (event.key === "Enter") event.target.closest('.dropdown-nav').classList.toggle('open');
    });
  })
</script>
  <section itemscope itemtype="https://schema.org/Blog">
        <header class="sans-serif flex thingy">
          <h1 class="font-size-5 bold">Blog</h1>
          <nav aria-labelledby="jty" class="dropdown-nav colour-highlight">
            <h2 class="font-size-2 mt-1/4 medium dropdown-nav-control"
                id="jty" tabindex="0"
              >{{ partial:caret_right }}Jump to year …</h2>
            <span id="years-nav" class="dropdown-nav-items link-plain">
              {{ taxonomy:year sort="title:desc" }}
              <a class="nav-link" href="#y{{ title }}">{{ title }}</a>
              {{ unless last }}<span class="flex-divider"></span>{{ /unless }}
              {{ /taxonomy:year }}
            </span>
          </nav>
        </header>
        {{ content | wrap:section }}
        {{ taxonomy:year sort="title:desc" }}
        <section id="y{{ title }}" class="article-list mt-3/4">
          <h2 class="font-size-4 semibold sans-serif swing">{{ title }}</h2>
            {{ entries }}
              <article>
                {{ partial:date :date="date" }}
                {{ unless (display_options | raw | in_array:hide_title) }}
                <h3>{{ title }}</h3>
                {{ /unless }}
                {{ description ?? content }}
              </article>
            {{ /entries }}
        </section>
        {{ /taxonomy:year }}
       </section>
