<div itemscope itemtype="https://schema.org/Blog" id="all-posts" class="space-y-2 border-rosey-grey bp-2">
  <div class="prose max-width-content mx-auto">
    {{ content }}
      {{ partial src="blocks/{type}" }}
    {{ /content }}
  </div>
    {{ collection:posts as="entries" }}
      {{ entries group_by="date|Y" }}
        {{ groups }}
          <section class="border-top">
            <h2
              class="font-size-4 all-small-caps medium sans-serif swing mt-0"
              id="y{{ group }}"
            >{{ group }}</h2>
            <div class="grid col-gap-2 row-gap-3/2 grid-cols-articlelist">
              {{ items }}
                {{ partial:post-summary }}
              {{ /items }}
            </div>
          </section>
        {{ /groups }}
      {{ /entries }}
    {{ /collection:posts }}
</div>
