<div itemscope itemtype="https://schema.org/Blog" id="all-posts" class="space-y-2 border-rosey-grey bp-2">
  <div aria-owns=toc class="prose max-width-content mx-auto">
    <h1 class="text-center">{{ title }}</h1>
    {{ content }}
      {{ partial src="blocks/{type}" }}
    {{ /content }}
  </div>
    {{ collection:posts as="entries" }}
      {{ entries group_by="date|Y" }}
        {{ groups }}
          <section class="border-top">
            <h2
              class="font-size-4 all-small-caps medium sans-serif swing mt-0"
              id="y{{ group }}"
            >{{ group }}</h2>
            <div
              class="grid col-gap-2 row-gap-3/2"
              style="grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr))"
            >
              {{ items }}
                {{ partial:post-summary }}
              {{ /items }}
            </div>
          </section>
        {{ /groups }}
      {{ /entries }}
    {{ /collection:posts }}
</div>

{{ section:footer }}
<nav
  id="toc"
  class="fixed hidden lg:shown toc">
  <h2 class="font-size-2 mb-1/2 medium">Jump to year</h2>
</nav>
{{ /section:footer }}
