<article class="prose p-space-1/2">
  <h1>{{ title }}</h1>
  {{ content }}
  <section class="space-y-1 mb-1 mt-1">
    {{ taxonomy:book_category collection="books" }}
    <section class="{{ if ! first }}border-top {{ /if }}space-y-3/4" id="{{ slug }}">
      <h2 class="font-size-2 bold">{{ title }}</h2>
      {{ entries scope="book" status:is="published" }}
      <article class="p-space-1/4">
        <header class="mb-1/4">
          <h3 class="font-size-2 serif medium mt-0 mb-0"
          ><a href={{ book:url }}
            ><cite>{{ book:title }}</cite
              > by {{ book:author }}</a
            ></h3>
          {{ partial:book-meta :publisher="book:publisher" :year="book:year" }}
        </header>
        {{ partial:summary-content :description="book:description" :title="book:title" :content="book:content" }}
      </article>
      {{ /entries }}
    </section>
    {{ /taxonomy:book_category }}
  </section>
</article>
