<article>
  <h1 class="heading-1">{{ title }}</h1>
  {{ content }}
  <section class="space-y-3/2 mt-3/2">
    {{ taxonomy:book_category collection="books" }}
    <section class="border-top bp-3/2 space-y-1" id="{{ slug }}">
      <h2 class="font-size-3 bold all-small-caps">{{ title }}</h2>
      {{ entries scope="book" status:is="published" }}
      <article class="space-y-1/4">
        <header>
          <h3 class="font-size-3 serif medium mt-0 mb-0"
          ><a href={{ book:url }}
            ><cite>{{ book:title }}</cite
              > by {{ book:author }}</a
            ></h3>
          {{ partial:book-meta :publisher="book:publisher" :year="book:year" }}
        </header>
        {{ partial:summary-content :description="book:description" :title="book:title" :content="book:content" }}
      </article>
      {{ /entries }}
    </section>
    {{ /taxonomy:book_category }}
  </section>
</article>
