<div class="prose big p-space-1/2">{{ content }}</div>
<nav class="prose p-space-1/2">
  <h2>Table of contents</h2>
  <dl class="dl-grid">
    {{ nav }}
    <dt>
      <a href="{{ url }}"
         {{ if type }}type="{{ type }}"{{ /if }}
      >{{ link_text ?? title }}</a>
    </dt>
    <dd>{{ description }}</dd>
    {{ /nav }}
  </dl>
</nav>
<section class="mt-1/2">
  <div class="prose mb-3/4"><h2 lang="fr">Quoi de neuf?</h2></div>
  <div class="article-list">
    {{ collection:posts limit="3" sort="date:desc" }}
    {{ partial:post-summary }}
    {{ /collection:posts }}
  </div>
</section>
