<!DOCTYPE html>
<html lang="en_CA">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? "Good evening" }} … ‹three dots›</title>
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/main.js"></script>
    <template id="fancyFonts">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..600;1,400..600&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap" rel="stylesheet">
    </template>
    <script>
      'use strict';
      var l = false;
      function ffl() { return l }
      function lff() {
        document.head.appendChild(document.getElementById('fancyFonts').content);
        l = true;
      }
      if(localStorage.getItem('fonts')==='fancy') lff();
    </script>
    <link rel="canonical" href="{{ meta:base_url }}{{ url }}">
    <meta name="google-site-verification" content="DhZUgJjUNSRFdHhycAzNuCiTKprn-1Csb49PU1lsABo">
    <meta name="color-scheme" content="light dark">
    {{ if description }}<meta name="description" content="{{ description }}">{{ /if }}
    <meta name="author" content="{{ meta:author }}">
    <link rel="alternate" type="application/atom+xml" href="/feed">
  </head>
  <body class="
    colour-scheme-auto
    pr-1/2 pl-1/2 pb-1
    font-size-1
    flex column align-center
  ">
    <div style="min-height: 100vh">
      {{ if url != "/" }}
      <header id="header-nav" class="sans-serif main-grid mt-1/2">
        <nav class="main-middle">
          <ol class="link-uline list-none lowercase flex row wrap" style="--base-font-size: 1rem">
            {{ nav:breadcrumbs scope="item" include_home="true" }}
            <li class="mb-0"
              >{{ partial:nav-item current-class="bold" }}{{ if ! last }}<span
                class="mr-1/4 ml-1/4 colour-highlight">／</span
              >{{ /if }}</li
            >
            {{ /nav:breadcrumbs }}
          </ol>
        </nav>
      </header>
      {{ /if }}
      <main class="main-grid mt-1/2 mb-1">
        <div class="main-middle max-width-content">
          {{ template_content }}
        </div>
        <aside class="sans-serif main-right">
          {{ yield:footer }}
        </aside>
      </main>
    </div>
      <footer id="footer-nav" class="main-grid font-size-1" style="--base-font-size:1rem">
        <div class="
          main-middle border-top
          regular sans-serif
          flex space-between row wrap
        ">
          <nav style="flex-grow:1">
            <h2 class="visually-hidden">Links</h2>
            <ul class="list-none grid col-gap-1/2" style="grid-template-columns: repeat(auto-fit, calc(4 * var(--base-line-height)))">
              {{ nav:footer scope="item" }}
              <li>{{ partial:nav-item }}</li>
              {{ /nav:footer }}
            </ul>
          </nav>
          <section>
            <h2 class="visually-hidden">Settings</h2>
            {{ partial:settings }}
          </section>
        </div>
      </footer>
      <script>
        if ('IntersectionObserver' in window) {
          const observer = new IntersectionObserver((entries) => {
            for (entry of entries) {
              entry.target.classList.toggle('visible', entry.isIntersecting);
              entry.target.classList.toggle('invisible', !entry.isIntersecting);
            }
          }, { rootMargin: "-16px 0px -16px 0px" });
          const footer = document.getElementById('footer-nav');
          const header = document.getElementById('header-nav');
          observer.observe(footer);
          observer.observe(header);
        }
      </script>
    <script data-goatcounter="https://threedots_ca.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
