<!DOCTYPE html>
<html lang="en_CA">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? "Good evening" }} … ‹three dots›</title>
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/main.js"></script>
    <template id="fancyFonts">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..600;1,400&family=Palanquin:wght@300;400;500;600&display=swap" rel="stylesheet">
    </template>
    <script>
      'use strict';
      var l = false;function ffl(){return l}function lff(){document.head.appendChild(document.getElementById('fancyFonts').content);l = true;}
      if(localStorage.getItem('fonts')==='fancy')lff();
    </script>
    <link rel="canonical" href="https://www.threedots.ca{{ url }}">
    <meta name="google-site-verification" content="DhZUgJjUNSRFdHhycAzNuCiTKprn-1Csb49PU1lsABo">
    <meta name="color-scheme" content="light dark">
    {{ if description }}<meta name="description" content="{{ description }}">{{ /if }}
    <meta name="author" content="Alan Rempel">
    <link rel="alternate" type="application/atom+xml" href="/posts/feed.xml">
  </head>
  <body class="colour-scheme-auto pr-1/2 pl-1/2 pt-3/4 pb-2 font-size-1 main-grid">
    <svg class="hidden" xmlns="http://www.w3.org/2000/svg">
      <defs>
      </defs>
    </svg>
      <header class="sans-serif">
        <nav class="top-nav regular link-plain colour-highlight flex space-between row lg:column wrap">
          {{ nav include_home="true" scope="item" }}
            <a href="{{ url }}"
               {{ if item:description }}title="{{ description }}"{{ /if }}
               {{ if type }}type="{{ type }}"{{ /if }}
               {{ if is_current }}aria-current="page"{{ /if }}
               class="
                {{ if is_current or is_parent }}medium thicker{{ /if }}
                {{ if url == "/" }}bold title{{ /if }}
               "
            >{{ item:link_text ?? item:title }}</a>
          {{ /nav }}
        </nav>
      </header>
      <footer class="main-footer sans-serif">
          {{ yield:footer }}
      </footer>
      <main>
          {{ template_content }}
      </main>
    <template id="goatcounter"><script data-goatcounter="https://threedots_ca.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script></template>
    <script>if (window.location.hostname === 'www.threedots.ca') document.body.appendChild(document.getElementById('goatcounter').content)</script>
  </body>
</html>
