    <article class="h-entry" itemscope itemtype="https://schema.org/BlogPosting">
      <header class="sans-serif mb-3/4">
        <p class="colour-lighter light">
          {{ partial:date :date="date" }}
          {{ if date_revised }}
            <small> – Revised {{ partial:date :date="date_revised" }}</small>
          {{ /if }}
        </p>
        {{ unless (display_options | raw | in_array:hide_title) }}
          <h1
            class="title p-name font-size-5 mt-1/4 mb-1 regular"
            itemprop="headline"
          >{{ title }}</h1>
        {{ /unless }}
      </header>
      <div class="e-content prose" itemprop="articleBody">
        {{ content }}
      </div>
    </article>
    {{ section:footer }}{{ /section:footer }}
