<nav {{ partial:anchor }}>
  <h2 class="heading-2 mt-0">{{ nav_title }}</h2>
  <dl class="dl-grid row-gap-1/4">
    {{ nav scope="item" handle="{nav_struct|raw}" }}
    {{ partial:dl-link :link_text="item:link_text" }}
      {{ if children and nav_show_children }}
      <p class="font-size-1">
      {{ children scope="child" }}
      {{ partial:link :link_text="child:link_text" }}{{ if ! last }}·{{ /if }}
      {{ /children }}
      </p>
      {{ /if }}
    {{ /partial:dl-link }}
    {{ /nav }}
  </dl>
</nav>
