<nav {{ partial:anchor }} class="grid grid-auto-fit col-gap-2 row-gap-3/2 col-w-sm">
  {{ nav scope="item" handle="{nav_struct|raw}" max_depth="2" }}
    <section>
      <h2 class="heading-2 mt-0">{{ item:title }}</h2>
      <ul class="flex wrap col-gap-1 md:col-gap-0">
        {{ item:children scope="child" }}
          <li class="flex grow mb-0 ml-0 mb-1/2">
            {{ partial:link :link_text="child:link_text" }}
            {{ icon }}
              <span aria-hidden="true" class="ml-1/2">{{ html }}</span>
            {{ /icon }}
            {{ if ! last }}<span class="hidden md:inline colour-lighter mx-auto pl-1/4 pr-1/4">／</span>{{ /if }}
          </li>
        {{ /item:children }}
      </ul>
    </section>
  {{ /nav }}
</nav>
