/node_modules/
/public/hot/
/public/storage/
/public/vendor/statamic/
/public/assets/
/public/assets/*
!/public/assets/fonts/
/public/mix-manifest.json
/storage/*.key
/vendor
/types/
.rollup.cache/
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
