:root {
  --light-text-normal: #111;
  --light-text-highlight: #6c2f54;
  --light-text-lighter: #4d4d4d;
  --light-background-normal: #f2edf1;
  --light-background-lighter: #e8e3e6;
  --dark-text-normal: #eee;
  --dark-text-highlight: #f18ccb;
  --dark-text-lighter: #d7d7d7;
  --dark-background-normal: #251b33;
  --dark-background-lighter: #40333c;
}

@mixin colour-scheme-light {
    --text-colour-normal: var(--light-text-normal);
    --text-colour-highlight: var(--light-text-highlight);
    --text-colour-lighter: var(--light-text-lighter);
    --background-colour-normal: var(--light-background-normal);
    --background-colour-lighter: var(--light-background-lighter);
}

@mixin colour-scheme-dark {
    --text-colour-normal: var(--dark-text-normal);
    --text-colour-highlight: var(--dark-text-highlight);
    --text-colour-lighter: var(--dark-text-lighter);
    --background-colour-normal: var(--dark-background-normal);
    --background-colour-lighter: var(--dark-background-lighter);

}

.colour-scheme-auto {
  @media (prefers-color-scheme: light) {
    @include colour-scheme-light;
  }
  @media (prefers-color-scheme: dark) {
      @include colour-scheme-dark;
  }
  @media (prefers-color-scheme: no-preference) {
      @include colour-scheme-light;
  }
}

.colour-scheme-light {
  @include colour-scheme-light;
}

.colour-scheme-dark {
  @include colour-scheme-dark;
}

