@use "mixins" as *;
@use "settings";
@use "sass:map";

.dropdown-nav-control {
  cursor: pointer;
  &:focus { outline: auto; }
}

.dropdown-nav-items {
  @include mt(0.25);
  @include font-size-2;
  @media (max-width: map.get(settings.$media, md) + 0.1px) {
    margin-top: 0;
    .nav-link:not(:first-child) { margin-top: calc(var(--base-line-height)*0.25) }
    padding: 0;
    background-color: var(--background-colour-normal);
    border: var(--text-colour-lighter) solid 0em;
    border-radius: 0.1em;
    position: absolute;
    overflow: hidden;
    height: 0;
    transition:
      height 0.2s ease,
      padding 0.2s ease,
      border-width 0.2s ease,
      background-color 0.2s ease;
  }
  .dropdown-nav.open & {
    height: calc(var(--base-line-height) * 8.175);
    background-color: var(--background-colour-lighter);
    padding: calc(var(--base-line-height)*0.25) calc(var(--base-line-height)*0.5);
    padding-top: calc(var(--base-line-height)*0.375);
    border-width: 0.1em;
  }
}

.dropdown-nav {
  margin-inline-start: auto;
  @include min-width(md) {
    margin-inline-start: 0;
  }
}

.dropdown-caret {
  transform: rotate(0deg);
  transition: transform 0.2s ease;
  vertical-align: -0.1em;
  .dropdown-nav.open & {
    transform: rotate(90deg);
  }
}

.dropdown {
  position: relative;
}
.dropdown-toggle {
    cursor: pointer;
}
.dropdown-inner {
  @include min-width(md) {
    position: absolute;
    background-color: var(--background-colour-lighter);
    padding: calc(var(--base-line-height)*0.25) calc(var(--base-line-height)*0.5);
    box-sizing: content-box;
    border-radius: 0.1em;
    border: var(--text-colour-lighter) solid 0.1em;
    right: 0;
    z-index: 1;
    width: -webkit-max-content;
    width: max-content;
    top: calc(var(--base-line-height)*1.25);
  }
}

.inline-list {
  display: flex;
  flex-wrap: wrap;
  margin-inline-start: 1em;
  @include min-width(sm) {
    margin-inline-start: 1.5em;
  }
  & li {
    list-style: none;
    margin-inline-start: 0;
    margin-inline-end: 1em;
    @include min-width(sm) {
      margin-inline-end: 1.5em;
    }
    &:first-child::before {
      content: "\200B";
    }
  }
}

.prose {
  h1, h2, h3, h4 {
    @include sans-serif;
    @include mb(var(--paragraph-spacing-factor, 0));
    &::last-child { margin-bottom: 0; }
  }
  h1 {
    @include font-size-4\.5;
    font-weight: 400;
    @include mb(0.75);
  }
  h2 {
    @include font-size-3;
    font-weight: 500;
    @include mt(0.75);
  }
  h3 {
    @include font-size-2;
    font-weight: 600;
    @include mt(0.5);
  }
  p, blockquote, figcaption, aside, details, li {
    @include serif;
  }
  aside {
    background-color: var(--background-colour-lighter);
    padding: calc(0.625 * var(--base-line-height));
    border-radius: 0.1em;
    color: var(--text-colour-lighter);
  }
}

.big {
  h1 { @include font-size-5 }
  h2 { @include font-size-4 }
  h3 { @include font-size-3 }
}

.swing {
  @include mb(0.5);
  @include mt(1);
  @include min-width(md) {
    height: 0;
    overflow: visible;
    transform-origin: top right;
    transform: translate(-100%, 0) rotate(-90deg) translate(calc(-0.25 * var(--base-line-height)), calc(-2 * var(--base-line-height)));
    text-align: right;
    transform-box: border-box;
    margin: 0;
    width: min-content;
  }
}

.dl-grid {
  @include min-width(sm) {
    display: grid;
    grid-template-columns: var(--width-narrow, 6ch) 1fr;
    grid-column-gap: var(--column-gap, 2ch);
  }
}

$full-width: settings.$max-width-content;
$narrow-width: 10ch;

.main-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "footer" "main";

  @include min-width(md) {
    grid-template-columns: minmax(auto, 30em) minmax(10ch, 6em);
    grid-template-areas: "header footer" "main main";
  }

  @include min-width(lg) {
    grid-template-columns: 14ch $full-width 14ch;
    grid-template-areas: "header main footer";
    grid-column-gap: 2ch;
  }

  & > header { grid-area: header; }
  & > footer { grid-area: footer; }
  & > main { grid-area: main; }
}

.top-nav > a {
  flex: 1 0 auto;
  margin-right: 1ch;
  max-width: $narrow-width;
  text-transform: lowercase;
  &:last-child { margin-right: 0; }
  @include min-width(lg) {
    @include mb(0.25);
  }
}

.main-footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding: calc(0.25 * var(--base-line-height)) var(--base-line-height);
  background-color: var(--background-colour-lighter);
  @include min-width(md) {
    padding: 0;
    background-color: transparent;
  }
}

body {
  padding-bottom: var(--base-line-height);
  @include min-width(md) {
    padding-bottom: 0;
  }
}
