@use "sass:map";
@use "sass:list";

$font-ratios: (
  6: (3, 2),
  5: (2.25, 1.75),
  4: (1.5, 1.25),
  3: (1.25, 1.125),
  2: (1.125, 1),
  1: (1, 1),
);

@mixin font-size($n, $important: null) {
  $ratios: map.get($font-ratios, $n);
  $fs: list.nth($ratios, 1);
  $lh: list.nth($ratios, 2);
  font-size: calc(#{$fs} * var(--base-font-size)) $important;
  line-height: calc(#{$lh} * var(--base-line-height)) $important;
}

@mixin font-size-5 {
  font-size: calc(var(--base-font-size)*3);
  line-height: calc(var(--base-line-height)*2);
}

@mixin font-size-4\.5 {
  font-size: calc(var(--base-font-size)*2.25);
  line-height: calc(var(--base-line-height)*1.75);
}

@mixin font-size-4 {
  font-size: calc(var(--base-font-size)*1.5);
  line-height: calc(var(--base-line-height)*1.25);
}

@mixin font-size-3 {
  font-size: calc(var(--base-font-size)*1.25);
  line-height: calc(var(--base-line-height)*1.125);
}

@mixin font-size-2 {
  font-size: calc(var(--base-font-size)*1.125);
  line-height: var(--base-line-height);
}

@mixin font-size-1 {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

@mixin serif($important: null) {
  font-family: var(--font-serif), var(--default-font-stack) $important;
}

@mixin sans-serif($important: null) {
  font-family: var(--font-sans-serif), var(--default-font-stack) $important;
}

$fonts: (
  Vollkorn-Black: (
    normal 900
  ),
  Vollkorn-BlackItalic: (
    italic 900
  ),
  Vollkorn-Bold: (
    normal 700
  ),
  Vollkorn-BoldItalic: (
    italic 700
  ),
  Vollkorn-ExtraBold: (
    normal 800
  ),
  Vollkorn-ExtraBoldItalic: (
    italic 800
  ),
  Vollkorn-Italic: (
    italic 400
  ),
  Vollkorn-Medium: (
    normal 500
  ),
  Vollkorn-MediumItalic: (
    italic 500
  ),
  Vollkorn-Regular: (
    normal 400
  ),
  Vollkorn-SemiBold: (
    normal 600
  ),
  Vollkorn-SemiBoldItalic: (
    italic 600
  ),
);

@each $filename, $style in $fonts {
  @font-face {
    font-family: Vollkorn;
    font-style: list.nth($style, 1);
    font-weight: list.nth($style, 2);
    src: url("/assets/fonts/#{$filename}.woff2") format("woff2");
  }
}
