@use "sass:map";
@use "sass:list";

$font-ratios: (
  6: (3, 25/24),
  5: (2.25, 75/72),
  4: (1.5, 75/48),
  3: (1.25, 5/4),
  2: (1.125, 25/18),
  1: (1, 25/16),
  0: (0.875, 10/7),
);

@mixin font-size($n, $important: null) {
  $ratios: map.get($font-ratios, $n);
  $fs: list.nth($ratios, 1);
  $lh: list.nth($ratios, 2);
  font-size: $fs * 1rem $important;
  line-height: $lh $important;
}

@mixin serif($important: null) {
  font-family: var(--font-serif), var(--default-font-stack) $important;
}

@mixin sans-serif($important: null) {
  font-family: var(--font-sans-serif), var(--default-font-stack) $important;
}

$fonts: (
  Vollkorn-Black: (
    normal 900
  ),
  Vollkorn-BlackItalic: (
    italic 900
  ),
  Vollkorn-Bold: (
    normal 700
  ),
  Vollkorn-BoldItalic: (
    italic 700
  ),
  Vollkorn-ExtraBold: (
    normal 800
  ),
  Vollkorn-ExtraBoldItalic: (
    italic 800
  ),
  Vollkorn-Italic: (
    italic 400
  ),
  Vollkorn-Medium: (
    normal 500
  ),
  Vollkorn-MediumItalic: (
    italic 500
  ),
  Vollkorn-Regular: (
    normal 400
  ),
  Vollkorn-SemiBold: (
    normal 600
  ),
  Vollkorn-SemiBoldItalic: (
    italic 600
  ),
);

@each $filename, $style in $fonts {
  @font-face {
    font-family: Vollkorn;
    font-style: list.nth($style, 1);
    font-weight: list.nth($style, 2);
    src: url("/assets/fonts/#{$filename}.woff2") format("woff2");
  }
}
