.varied-typography-list li:nth-child(2n) { font-weight: 300; }
.varied-typography-list li:nth-child(3n) { font-weight: 500; }
.varied-typography-list li:nth-child(5n) { font-style: oblique; }
.coloured-list li:nth-child(5n + 2) { color: #466915; }
.coloured-list li:nth-child(7n) { color: #461260; }
.coloured-list li:nth-child(11n) { color: #6e1e0c; }
.varied-typography-list li:nth-child(13n) { font-weight: 600; }
.coloured-list li:nth-child(17n) { color: #0f119c; }
