:root {
  --base-line-height: 1.5rem;
  --base-font-size: 1rem;
  --sans-serif-fonts: system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', Lato, 'Open Sans',
               Ubuntu, Roboto, Noto,
               sans-serif;
  --light-text-normal: #111;
  --light-text-highlight: #6c2f54;
  --light-text-lighter: #4d4d4d;
  --light-text-alternate: #1c513a;
  --light-background-normal: #f9f7f0;
  --light-background-lighter: #eceae6;
  --light-background-alternate: #d4f4e6;
  --dark-text-normal: #eee;
  --dark-text-highlight: #e397e0;
  --dark-text-lighter: #d7d7d7;
  --dark-text-alternate: #c6eada;
  --dark-background-normal: #241321;
  --dark-background-lighter: #313734;
  --dark-background-alternate: #1c513a;
  --container-max-width: 56ch;
}

@media (prefers-color-scheme: light) {
  .colour-scheme-auto {
    --text-colour-normal: var(--light-text-normal);
    --text-colour-highlight: var(--light-text-highlight);
    --text-colour-lighter: var(--light-text-lighter);
    --text-colour-alternate: var(--light-text-alternate);
    --background-colour-normal: var(--light-background-normal);
    --background-colour-lighter: var(--light-background-lighter);
    --background-colour-alternate: var(--light-background-alternate);
  }
}
@media (prefers-color-scheme: dark) {
  .colour-scheme-auto {
    --text-colour-normal: var(--dark-text-normal);
    --text-colour-highlight: var(--dark-text-highlight);
    --text-colour-lighter: var(--dark-text-lighter);
    --text-colour-alternate: var(--dark-text-alternate);
    --background-colour-normal: var(--dark-background-normal);
    --background-colour-lighter: var(--dark-background-lighter);
    --background-colour-alternate: var(--dark-background-alternate);
  }
}
@media (prefers-color-scheme: no-preference) {
  .colour-scheme-auto {
    --text-colour-normal: var(--light-text-normal);
    --text-colour-highlight: var(--light-text-highlight);
    --text-colour-lighter: var(--light-text-lighter);
    --text-colour-alternate: var(--light-text-alternate);
    --background-colour-normal: var(--light-background-normal);
    --background-colour-lighter: var(--light-background-lighter);
    --background-colour-alternate: var(--light-background-alternate);
  }
}

.colour-scheme-light {
  --text-colour-normal: var(--light-text-normal);
  --text-colour-highlight: var(--light-text-highlight);
  --text-colour-lighter: var(--light-text-lighter);
  --text-colour-alternate: var(--light-text-alternate);
  --background-colour-normal: var(--light-background-normal);
  --background-colour-lighter: var(--light-background-lighter);
  --background-colour-alternate: var(--light-background-alternate);
}

.colour-scheme-dark {
    --text-colour-normal: var(--dark-text-normal);
    --text-colour-highlight: var(--dark-text-highlight);
    --text-colour-lighter: var(--dark-text-lighter);
    --text-colour-alternate: var(--dark-text-alternate);
    --background-colour-normal: var(--dark-background-normal);
    --background-colour-lighter: var(--dark-background-lighter);
    --background-colour-alternate: var(--dark-background-alternate);
}

body {
  font-family: var(--sans-serif-fonts);
  font-variant-ligatures: contextual;
  font-variant-numeric: proportional-nums;
  font-kerning: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color: var(--text-colour-normal);
  background-color: var(--background-colour-normal);
}

.container {
  padding-left: 20px; padding-right: 20px;
  max-width: var(--container-max-width);
}

*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }

a {
  color: var(--link-colour, inherit);
  text-decoration-line: var(--link-text-decoration-line, none);
  text-decoration-thickness: var(--link-initial-text-decoration-thickness, 0.05em);
  text-underline-offset: 0.2em;
  transition: text-decoration-thickness 0.2s;
}
a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: var(--link-hover-text-decoration-thickness, 0.1em);
}

p, ol, ul, nav, blockquote, aside, details, figcaption {
  --link-colour: var(--text-colour-highlight);
  --link-initial-text-decoration-thickness: 0.05em;
  --link-hover-text-decoration-thickness: 0.14em;
  --link-text-decoration-line: underline;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  margin-top: calc(var(--paragraph-spacing-factor, 0) * var(--base-line-height));
}

li { margin-inline-start: 1.5em; }

code {
  font-family: Monaco, Hack, Menlo, 'Fira Code', 'Courier Next', monospace;
  font-size: 0.9em;
}

.prose {
  h1, h2, h3, h4 {
    @extend .sans-serif;
  }
  h2 {
    @extend .font-size-3, .semibold;
    margin-top: calc(var(--base-line-height)*0.75);
  }
  h3 {
    @extend .font-size-2, .medium;
    margin-top: calc(var(--base-line-height)*0.5);
  }
  p, blockquote, figcaption, aside, details, li {
    @extend .serif;
  }
  aside {
    background-color: var(--background-colour-lighter);
    padding: calc(0.625 * var(--base-line-height));
    border-radius: 0.1em;
    color: var(--text-colour-lighter);
  }
}

.thingy { flex-direction: row;
@media (min-width: 645px) { flex-direction: column; }}

.dropdown-nav-control {
  @media (min-width: 645px) { display: none; }
  cursor: pointer;
  &:focus { outline: auto; }
}

.dropdown-nav-items {
  @extend .flex, .mt-1\/4, .font-size-2;
  flex-direction: row;
  @media (max-width: 645.01px) {
    flex-direction: column;
    margin-top: 0;
    .nav-link:not(:first-child) { margin-top: calc(var(--base-line-height)*0.25) }
    .flex-divider { display: none }
    padding: 0;
    background-color: var(--background-colour-normal);
    border: var(--text-colour-lighter) solid 0em;
    border-radius: 0.1em;
    position: absolute;
    overflow: hidden;
    height: 0;
    transition:
      height 0.2s ease,
      padding 0.2s ease,
      border-width 0.2s ease,
      background-color 0.2s ease;
  }
  .dropdown-nav.open & {
    height: calc(var(--base-line-height) * 8.175);
    background-color: var(--background-colour-lighter);
    padding: calc(var(--base-line-height)*0.25) calc(var(--base-line-height)*0.5);
    padding-top: calc(var(--base-line-height)*0.375);
    border-width: 0.1em;
  }
}

.dropdown-nav {
  @media (max-width: 645.01px) {
    margin-inline-start: auto;
    align-self: center;
  }
}

.dropdown-caret {
  transform: rotate(0deg);
  transition: transform 0.2s ease;
  vertical-align: -0.1em;
  .dropdown-nav.open & {
    transform: rotate(90deg);
  }
}

.inline-block { display: inline-block; margin-inline-end: 1.5ch; }

label {
  margin-inline-end: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  --link-text-decoration-line: none;
  --link-colour: inherit;
  --link-initial-text-decoration-thickness: 0.07em;
  --link-hover-text-decoration-thickness: 0.1em;
}

blockquote {
  margin-left: 4%;
  margin-right: 4%;
  color: var(--text-colour-lighter);
}

.link-plain { --link-text-decoration-line: none; }

abbr[title] {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.2em;
}

.smallcaps {
  font-variant-caps: all-small-caps;
  letter-spacing: 0.02em;
}

.smaller {
  font-size: smaller;
  line-height: calc(var(--base-line-height)*0.875);
}

figcaption {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: calc(var(--base-line-height)*0.25);
  font-size: calc(var(--base-font-size)*0.9375);
}

img { width: 100%; }

.medium { font-weight: 500; }
.semibold, b { font-weight: 600; }
.bold, strong { font-weight: 700; }
.light { font-weight: 300; }
.oblique, cite { font-style: oblique; }

.block { display: block; }

sup {
  font-size: 0.625em;
  vertical-align: baseline;
  position: relative;
  top: calc(var(--base-line-height)*-0.25);
}

mark {
  background-color: var(--background-colour-alternate);
  color: var(--text-colour-alternate);
  padding: 0.015em 0.1em;
  font-weight: 500;
  border-radius: 0.2em;
}

.p-space-1 { --paragraph-spacing-factor: 1; }
.p-space-1\/2 { --paragraph-spacing-factor: 0.5; }
.p-space-1\/4 { --paragraph-spacing-factor: 0.25; }

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: var(--base-line-height); }
.mt-3\/4 { margin-top: calc(var(--base-line-height)*0.75); }
.mt-1\/2 { margin-top: calc(var(--base-line-height)*0.5); }
.mt-1\/4 { margin-top: calc(var(--base-line-height)*0.25); }

.mx-auto { margin-right: auto; margin-left: auto; }

.mb-1 { margin-bottom: var(--base-line-height); }

.colour-highlight { color: var(--text-colour-highlight) }
.colour-normal { color: var(--text-colour-normal) }
.colour-lighter { color: var(--text-colour-lighter) }

.border-top {
  border-top: calc(var(--base-line-height)*0.0875) solid var(--text-colour-normal);
  padding-top: calc(var(--base-line-height)*0.9125);
  margin-top: calc(var(--base-line-height)*1.125);
}

.article-list article + article {
  margin-top: var(--base-line-height);
}

.swing {
  margin-bottom: calc(var(--base-line-height)*0.5);
  margin-top: calc(var(--base-line-height)*1);
  @media (min-width: 645px) {
    height: 0;
    overflow: visible;
    position: sticky;
    transform-origin: top right;
    transform: translate(-100%, 0) rotate(-90deg) translate(calc(-0.5 * var(--base-line-height)), calc(-2 * var(--base-line-height)));
    text-align: right;
    transform-box: border-box;
    margin: 0;
  }
}

.serif { font-family: Vollkorn, var(--sans-serif-fonts); }
.sans-serif { font-family: Palanquin, var(--sans-serif-fonts); }
.fonts-default {
  .serif, .sans-serif { font-family: var(--sans-serif-fonts); }
}

.font-size-5 {
  font-size: calc(var(--base-font-size)*2);
  line-height: calc(var(--base-line-height)*1.75);
}

.font-size-4\.5 {
  font-size: calc(var(--base-font-size)*1.75);
  line-height: calc(var(--base-line-height)*1.5);
}

.font-size-4 {
  font-size: calc(var(--base-font-size)*1.5);
  line-height: calc(var(--base-line-height)*1.25);
}

.font-size-3 {
  font-size: calc(var(--base-font-size)*1.25);
  line-height: calc(var(--base-line-height)*1.125);
}

.font-size-2 {
  font-size: calc(var(--base-font-size)*1.125);
  line-height: var(--base-line-height);
}

.font-size-1 {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

nav {
  --link-hover-text-decoration-thickness: 0.15em;
  --link-initial-text-decoration-thickness: 0.1em;
}

.flex { display: flex; }
.space-between { justify-content: space-between; }
.row { flex-direction: row; }
.column { flex-direction: column; }
.align-right { text-align: right; }
.wrap { flex-wrap: wrap; }
.flex-divider {
  flex-basis: 0;
  flex-grow: 1;
  max-width: var(--base-line-height);
}

li { margin-bottom: calc(var(--base-line-height)*0.25); }
li::last-child { margin-bottom: 0; }

.dropdown {
  position: relative;
}
.dropdown-toggle {
    cursor: pointer;
}
.dropdown-inner {
  position: absolute;
  width: -webkit-max-content;
  width: max-content;
  top: calc(var(--base-line-height)*1.25);
  background-color: var(--background-colour-lighter);
  padding: calc(var(--base-line-height)*0.25) calc(var(--base-line-height)*0.5);
  box-sizing: content-box;
  border-radius: 0.1em;
  border: var(--text-colour-lighter) solid 0.1em;
  right: 0;
  z-index: 1;
}

$media-small: 376px;

.inline-list {
  display: flex;
  flex-wrap: wrap;
  margin-inline-start: 1em;
  @media (min-width: $media-small) {
    margin-inline-start: 1.5em;
  }
  & li {
    list-style: none;
    margin-inline-start: 0;
    margin-inline-end: 1em;
    @media (min-width: $media-small) {
      margin-inline-end: 1.5em;
    }
    &:first-child::before {
      content: "\200B";
    }
  }
}

.varied-typography-list li:nth-child(2n) { font-weight: 300; }
.varied-typography-list li:nth-child(3n) { font-weight: 500; }
.varied-typography-list li:nth-child(5n) { font-style: oblique; }
.coloured-list li:nth-child(5n + 2) { color: #466915; }
.coloured-list li:nth-child(7n) { color: #461260; }
.coloured-list li:nth-child(11n) { color: #6e1e0c; }
.varied-typography-list li:nth-child(13n) { font-weight: 600; }
.coloured-list li:nth-child(17n) { color: #0f119c; }
