@use "settings";
@use "sass:map";

@mixin min-width($media-name) {
  @media (min-width: map.get(settings.$media, $media-name)) {
    @content;
  }
}

@mixin line-height-multiple($property, $factor) {
  @if $factor == 0 {
    #{$property}: 0;
  } @else if $factor == 1 {
    #{$property}: var(--base-line-height);
  } @else {
    #{$property}: calc(#{$factor} * var(--base-line-height));
  }
}

@mixin mt($factor) {
  @include line-height-multiple("margin-top", $factor)
}

@mixin mb($factor) {
  @include line-height-multiple("margin-bottom", $factor)
}

@mixin font-size-5 {
  font-size: calc(var(--heading-font-size)*2);
  line-height: calc(var(--heading-line-height)*1.75);
}

@mixin font-size-4\.5 {
  font-size: calc(var(--heading-font-size)*1.75);
  line-height: calc(var(--heading-line-height)*1.5);
}

@mixin font-size-4 {
  font-size: calc(var(--heading-font-size)*1.5);
  line-height: calc(var(--heading-line-height)*1.25);
}

@mixin font-size-3 {
  font-size: calc(var(--heading-font-size)*1.25);
  line-height: calc(var(--heading-line-height)*1.125);
}

@mixin font-size-2 {
  font-size: calc(var(--base-font-size)*1.125);
  line-height: var(--base-line-height);
}

@mixin font-size-1 {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

@mixin serif { font-family: var(--font-serif), var(--default-font-stack) }
@mixin sans-serif { font-family: var(--font-sans-serif), var(--default-font-stack) }


