@use "mixins" as *;

.p-space-1 { --paragraph-spacing-factor: 1; }
.p-space-1\/2 { --paragraph-spacing-factor: 0.5; }
.p-space-1\/4 { --paragraph-spacing-factor: 0.25; }

.mx-auto { margin-right: auto; margin-left: auto; }

$margin-ratios: (1 1) (1 2) (1 4) (1 8) (3 4);

$abbrev-properties: (
  mt: margin-top,
  mb: margin-bottom,
  pl: padding-left,
  pr: padding-right,
);

@function ratio-string($numerator, $denominator) {
  @if $numerator == 0 {
    @return "0";
  } @else if $numerator == 1 and $denominator == 1 {
    @return "1";
  } @else {
    @return "#{$numerator}\\/#{$denominator}";
  }
}

@each $num, $denom in $margin-ratios {
  .space-y-#{ratio-string($num, $denom)} > * {
    $ratio: $num / $denom;
    @include line-height-multiple(margin-top, $ratio);
    @include line-height-multiple(margin-bottom, $ratio);
    &:first-child { @include mt(0) }
    &:last-child { @include mb(0) }
  }
}

@each $abbrev, $property in $abbrev-properties {
  @each $numerator, $denominator in $margin-ratios {
    .#{$abbrev}-#{ratio-string($numerator, $denominator)} {
      @include line-height-multiple($property, $numerator / $denominator)
    }
  }
}

.colour-highlight { color: var(--text-colour-highlight) }
.colour-normal { color: var(--text-colour-normal) }
.colour-lighter { color: var(--text-colour-lighter) }

.border-top {
  border-top: calc(var(--base-line-height)*0.0875) solid var(--text-colour-normal);
  padding-top: calc(var(--base-line-height)*0.9125);
  margin-top: calc(var(--base-line-height)*1.125);
}

.font-size-5 { @include font-size-5 }
.font-size-4\.5 { @include font-size-4\.5 }
.font-size-4 { @include font-size-4 }
.font-size-3 { @include font-size-3 }
.font-size-2 { @include font-size-2 }
.font-size-1 { @include font-size-1 }

.serif { @include serif; }
.sans-serif { @include sans-serif; }

.flex { display: flex; }
.space-between { justify-content: space-between; }
.row { flex-direction: row; }
.column { flex-direction: column; }
.align-right { text-align: right; }
.wrap { flex-wrap: wrap; }
.flex-divider {
  flex-basis: 0;
  flex-grow: 1;
  max-width: var(--base-line-height);
}

.regular { font-weight: 400; }
.medium { font-weight: 500; }
.semibold, b { font-weight: 600; }
.bold, strong { font-weight: 700; }
.light { font-weight: 300; }
.oblique, cite { font-style: oblique; }

.block { display: block; }

.smallcaps {
  font-variant-caps: all-small-caps;
  letter-spacing: 0.02em;
}

.smaller {
  font-size: smaller;
  line-height: calc(var(--base-line-height)*0.875);
}

.inline-block { display: inline-block; margin-inline-end: 1.5ch; }

.link-plain { --link-text-decoration-line: none; }

.max-width { max-width: var(--container-max-width); }
