<div class="prose p-space-1/2">
  <h1>{{ title }}</h1>
  {{ markdown:indent }}
  What is the essence of a punctuation mark? A typographic symbol?
  A mark denoting a certain pause or lift or cadence in speech?
  An indicator of syntactic structure? A weapon? A fine herb? Probably
  all of these and more. Why not, then, also a sign by which to categorize
  paragraphs of prose?
  {{ /markdown:indent }}
  <nav class="mb-1 mt-1">
    <h2 lang="fr">Les voici!</h2>
    <dl class="dl-grid" style="--width-narrow:8ch">
      {{ terms }}
      {{ partial:dl-link }}
      {{ /terms }}
    </dl>
  </nav>
  {{ markdown:indent }}
  The *period*, the *comma*, and certain others are not included here
  because they are essential in all prose. Others, such as the
  exclamation mark and the question mark, are absent because I
  have written nothing that is specially characterized by their
  personality.
  {{ /markdown:indent }}
</div>
